body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

.nav-button {
  background-color: aquamarine;
}

.card-body>p{
  color: rgb(115 115 115) !important;
  font-weight: 500 !important;
  line-height: 26px !important;
}
.hero-section-description{
  color: rgb(115 115 115) !important;
  font-weight: 600 !important;
}


.div-bar {
  margin-top: 77px;
}
.icon-top {
  transform: translate(-200%, -50%) !important;
}

.links-foo:hover {
  color: #2bd0d0 !important;
}
.links-foo1:hover {
  color: #2bd0d0 !important;
}

.get-start {
  font-weight: 700 !important;
}
.btn {
  background-color: #2bd0d0 !important;
  border: none !important;
}
.btn:hover {
  background-color: #15dcdc !important;
  border: none !important;
}

.short-link {
  color: #2bd0d0 !important;
}
.invalid-feedback {
  height: 0px !important;
  margin-top: 0px !important;
}


.first-card{
  margin-top: -60px;
}
.second-card{
  margin-top: -20px;
}
.third-card{
  margin-top: 20px;
}
.start-20{
  left: 15%;
}

.card-section-title{
  color: rgb(115 115 115) !important;
  margin-bottom: 2px !important;
  font-weight: 500 !important;
}

.card-body{
  margin-left: 15px !important;
}

@media (max-width: 768px)  {
  .cards-section{
    flex-direction: column !important;
  }
  .div-bar{
    width: 0.5rem !important;
    margin: auto  !important;
    height: 6.3rem !important;
  }
  .div-bar-2{
    width: 0.5rem !important;
    margin: auto  !important;
    height: 4.3rem !important;
  }
  .start-20{
    left: 50%;
  }

  .card{
    margin-left: 25px !important;
    margin-right: 25px !important;
  }
  .card-title{
    text-align: center !important;
  }
  .card-body>p{
    text-align: center !important;
  }
  .first-card{
    margin-top: 10px !important;
  }
  .card-section-title{
    margin-left: 52px !important;
    margin-right: 52px !important;
  }
  .shorten-links{
   flex-direction: column !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .short-link{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .form-div{
    display: flex !important;
    flex-direction: column !important;
    margin-right: auto !important;
    margin-top: 23px !important;
  }
  .input-field-container{
    height: 18% !important;
    width: 80% !important;
    border-radius: 10px !important;
  }
  .hero-contents{
    margin-bottom: 20px !important;
    text-align: center !important;
  }
  .get-started-btn{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .footer-div{
    flex-direction: column !important;
  }
  .footer-links{
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
  
  .nav-link{
    text-align: center !important;
    color: #fff !important;
    background-color: #180925 !important;
  }
  .nav-horizontal-line{
    margin: 0;
  }
  .nav{
    margin-top: 10px !important;
  }

  .links-text{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .footer-heading{
    margin: auto !important;
  }
  

}

@media (max-width: 576px)  {
  .div-bar{
    width: 0.5rem !important;
    margin: auto  !important;
    height: 6.3rem !important;
  }
  .div-bar-2{
    width: 0.5rem !important;
    margin: auto  !important;
    height: 4.3rem !important;
  }
  .start-20{
    left: 50%;
  }
  .card{
    margin-left: 25px !important;
    margin-right: 25px !important;
  }
  .card-title{
    text-align: center !important;
  }
  .card-body>p{
    text-align: center !important;
  }
  .first-card{
    margin-top: 10px !important;
  }
  .card-section-title{
    margin-left: 52px !important;
    margin-right: 52px !important;
  }

  .short-link{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  .form-div{
    display: flex !important;
    flex-direction: column !important;
    margin-right: auto !important;
    margin-top: 23px !important;
  }
  .input-field-container{
    height: 18% !important;
    width: 80% !important;
    border-radius: 10px !important;
  }
  .hero-contents{
    margin-bottom: 20px !important;
    text-align: center !important;
  }
  .get-started-btn{
    margin-left: 20px !important;
    margin-right: 20px

}


}
