body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

.nav-button {
  background-color: aquamarine;
}

.card-body>p{
  color: #969699 !important;
}

.div-bar {
  margin-top: 77px;
}
.icon-top {
  transform: translate(-200%, -50%) !important;
}

.links-foo:hover {
  color: #2bd0d0 !important;
}
.links-foo1:hover {
  color: #2bd0d0 !important;
}

.get-start {
  font-weight: 700 !important;
}
.btn {
  background-color: #2bd0d0 !important;
  border: none !important;
}
.btn:hover {
  background-color: #15dcdc !important;
  border: none !important;
}

.short-link {
  color: #2bd0d0 !important;
}
.invalid-feedback {
  height: 0px !important;
  margin-top: 0px !important;
}


.first-card{
  margin-top: -60px;
}
.second-card{
  margin-top: -20px;
}
.third-card{
  margin-top: 20px;
}
.start-20{
  left: 15%;
}